name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Download deps
        run: sudo apt-get update && sudo apt-get install -y libpango1.0-dev libx11-dev libxext-dev libxft-dev libxinerama-dev libxcursor-dev libxrender-dev libxfixes-dev libgl1-mesa-dev libglu1-mesa-dev
        shell: bash
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
      - name: Build
        run: zig build -Dzfltk-use-zigcc=true
  build_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
      - name: Build
        run: zig build -Dzfltk-use-zigcc=true
  # build_windows-mingw:
  #   runs-on: windows-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: msys2/setup-msys2@v2
  #       with:
  #         msystem: MINGW64
  #         update: true
  #     - shell: msys2 {0}
  #       run: |
  #         pacman -Sy
  #         pacman --noconfirm -S $MINGW_PACKAGE_PREFIX-cmake $MINGW_PACKAGE_PREFIX-ninja wget unzip git --needed
  #         wget https://ziglang.org/builds/zig-windows-x86_64-0.11.0-dev.3905+309aacfc8.zip
  #         unzip -qq zig-windows-x86_64-0.11.0-dev.3905+309aacfc8.zip
  #         git submodule update --init --recursive
  #         zig-windows-x86_64-0.11.0-dev.3905+309aacfc8/zig build --search-prefix $MINGW_PREFIX
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0
      - uses: seanmiddleditch/gha-setup-ninja@master
      - name: build
        shell: bash
        run: zig build
